In [2]:
import pandas as pd
import numpy as np
import yfinance as yf    # yahoo finance
import talib as ta

ydata = yf.download('000001.SS', start='1990-12-05')

close = ydata['Adj Close']
high = ydata['High']
low = ydata['Low']
ydata["RSI"] = ta.RSI(close, timeperiod=14)
ydata["MACD"], _, _ = ta.MACD(close, fastperiod=12, slowperiod=26, signalperiod=9)
ydata["CCI"] = ta.CCI(high, low, close, timeperiod=14)
ydata["ADX"] = ta.ADX(high, low, close, timeperiod=14)

ydata.to_csv("SS00001.csv")

[*********************100%%**********************]  1 of 1 completed

In [20]:
ydata.head(20)

,Open,High,Low,Close,Adj Close,Volume,RSI,MACD,CCI,ADX
Date,,,,,,,,,,
1997-07-02,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0,NaN,NaN,NaN,NaN
1997-07-03,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0,NaN,NaN,NaN,NaN
1997-07-04,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0,NaN,NaN,NaN,NaN
1997-07-07,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0,NaN,NaN,NaN,NaN
1997-07-08,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0,NaN,NaN,NaN,NaN
1997-07-09,1113.640991,1122.673950,1104.086060,1120.840942,1120.840942,0,NaN,NaN,NaN,NaN
1997-07-10,1121.259033,1137.869019,1115.212036,1120.154053,1120.154053,0,NaN,NaN,NaN,NaN
1997-07-11,1116.415039,1155.056030,1114.396973,1154.793945,1154.793945,0,NaN,NaN,NaN,NaN
1997-07-14,1189.473999,1201.213989,1180.191040,1200.114014,1200.114014,0,NaN,NaN,NaN,NaN
1997-07-16,1201.594971,1204.854980,1184.444946,1190.826050,1190.826050,0,NaN,NaN,NaN,NaN
1997-07-17,1188.266968,1203.504028,1180.933960,1197.225952,1197.225952,0,NaN,NaN,NaN,NaN
1997-07-18,1199.399048,1210.439941,1191.288940,1209.857056,1209.857056,0,NaN,NaN,NaN,NaN
1997-07-21,1215.838989,1218.480957,1188.875000,1193.525024,1193.525024,0,NaN,NaN,NaN,NaN
1997-07-22,1189.118042,1208.261963,1163.468018,1208.248047,1208.248047,0,NaN,NaN,58.404246,NaN
1997-07-23,1219.055054,1223.822998,1194.703003,1198.860962,1198.860962,0,49.965871,NaN,81.945656,NaN
1997-07-24,1194.704956,1200.308960,1172.366943,1174.217041,1174.217041,0,45.817345,NaN,32.734363,NaN
1997-07-25,1166.566040,1177.652954,1158.135986,1170.862061,1170.862061,0,45.266334,NaN,4.872888,NaN
1997-07-28,1167.812988,1167.880005,1138.474976,1141.776978,1141.776978,0,40.696951,NaN,-42.026591,NaN
1997-07-29,1137.318970,1161.194946,1133.175049,1153.229004,1153.229004,0,43.131136,NaN,-58.545313,NaN
1997-07-30,1157.089966,1179.478027,1157.004028,1179.421021,1179.421021,0,48.352642,NaN,-13.923294,NaN